<!DOCTYPE html>
<html lang="en" ng-app="spxAngular">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Angular Tests</title>

	<style type="text/css">
		
	</style>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<style type="text/css">
    	.webui-popover-content{
    	  height:300px;
    	  overflow:auto;
    	  width:600px;
    	}
    	.webui-popover{ 
    	  border-radius: 0;
    	}
    	.btn-circle {
			width: 30px;
			height: 30px;
			text-align: center;
			padding: 6px 0;
			font-size: 12px;
			line-height: 1.428571429;
			border-radius: 15px;
		}
		.table > tbody > tr > td {
		    vertical-align: middle;
		}
		.text-cell {
		    font-size: 10px;
		}
		.icon-circle-stock {
		    color: #22b20a;
		}
		.icon-color-stock {
		    color: white;
		}
		.icon-circle-supplier {
		    color: darkorange;
		}
		.icon-circle-spot {
		    color: #0c50f0;
		}
		.popover {
		    min-width: 600px ! important;
		}
    </style>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.8/angular-strap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.8/angular-strap.tpl.min.js"></script>

	<script src="app.js"></script>

	<script type="text/ng-template" id="overlay1">
		<div class="popover" 
			tabindex="-1" 
			ng-controller="cartController" 
			 >
			<div class="arrow"></div>
    		<div class="popover-title">
    	  		<div class="col-md-12">
    	  			<div class="col-md-8"><h4>Carro de compras</h4></div>
    	  			<div class="col-md-4"><h4><small>{{shoppingCart.size}} items</small></h4></div>
    	  		</div>
    	  	</div>
    	  	<div class="popover-content">
    	  		<div id="cartItems" class="col-md-12 pre-scrollable" ng-init="initModule()">
      			  	<table class="table table-responsive">
      			  		<tr ng-repeat="item in shoppingCart.content">
      						<td class="col-md-1">
	  							<span ng-show="{{item.tipo_item == 1}}" class="fa-stack">
	  							  <i class="fa fa-circle fa-stack-2x icon-circle-supplier"></i>
	  							  <i class="fa fa-money fa-stack-1x icon-color-stock"></i>
	  							</span>
	  							<span ng-show="{{item.tipo_item == 2}}" class="fa-stack">
	  							  <i class="fa fa-circle fa-stack-2x icon-circle-stock"></i>
	  							  <i class="fa fa-home fa-stack-1x icon-color-stock"></i>
	  							</span>
	  							<span ng-show="{{item.tipo_item == 3}}" class="fa-stack">
	  							  <i class="fa fa-circle fa-stack-2x icon-circle-spot"></i>
	  							  <i class="fa fa-bolt fa-stack-1x icon-color-stock"></i>
	  							</span>
	  						</td>
      						<td class="col-md-1 text-cell">
      							<img ng-attr-src="{{resourcesUrl + (item.url_img || '/resources/imgs/no_image.jpg')}}"  class="img-rounded" alt="{{item.descripcion}}" 
      								width="50" height="50">
      						</td>
      						<td class="col-md-6 text-cell">{{item.descripcion}}</td>
      						<td class="col-md-3 text-cell">
      							<div class="row">UDM: {{item.udm}}</div>
      							<div class="row">Cant: {{item.cantidad}}</div>
      						</td>
      						<td class="col-md-1">
      							<button type="button" class="btn btn-danger btn-circle glyphicon glyphicon-trash"></button>
      						</td>		
      					</tr>
      			  	</table>
    	  		</div>
    	  	</div>
		</div>
	</script>
</head>
<body >
	<div class="container-fluid">
		<h1>Pruebas de SPX</h1>	
		<div class="row" ng-controller="cartController">
			<div class="col-md-4">
	            <span> </span>
	        </div>
	        <div class="col-md-1">	           
	            <button id="showCart" type="button" class="btn btn-danger" 
	            	title="{{popover.title}}" 
	            	data-content="{{popover.content}}" 
	            	data-template-url="overlay1"
	            	data-trigger="hover"
	            	data-placement="auto"
	            	data-animation="am-flip-x" 
	            	data-auto-close="0" 
	            	bs-popover>Custom Popover</button>
	        </div>
	        <div class="col-md-4">
	            <span> </span>
	        </div>
	        <div  class="col-md-1">
                <a id="showCartLink" href="javascript:"
                	style="text-decoration: none !important"
                	data-content="{{popover.content}}" 
                	class="text-decoration: none !important"
					ng-mouseover="togglePopover()">
		        	<span class="fa-stack fa-lg">
		        	  <i class="fa fa-circle fa-stack-2x"></i>
		        	  <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
		        	</span>
            	</a>
	        </div>
		</div>
		<div ng-controller="uenController">
			<div class="row">
				<form class="col-md-6" ng-submit="updateUens()">
					<div class="form-group">
						<label for="">Nombre usuario</label>
						<input type="text" class="form-control" ng-model="usuario">
					</div>
					<button type="submit" class="btn btn-primary">Ok</button>
				</form>	
			</div>
			<div class="row">
				<form class="col-md-6" ng-submit="updateUens()">
					<div class="form-group">
					  	<label for="sel1">Select list:</label>
					  	<select class="form-control" id="sel1"
					  		ng-model="idUen"
				        	ng-init="idUen" 
				        	ng-options="option.id as option.descripcion for option in uens">
					  	</select>
					</div>
				</form>
				<dv class="col-md-6"><h3>Uen seleccionada: {{idUen}}</h3></dv>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<label ng-model="noLeidos">Mensajes sin leer: {{noLeidos}}</label>
				</div>
			</div>
		</div>
		
		
	</div>
</body>
</html>